*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:sans-serif;
background:#bfe5f5;
}

.container{
display:flex;
height:100vh;
}

.sidebar{
width:250px;
padding:20px;
background:#dff4ff;
}

.timer-card,
.stats-card{
margin-top:20px;
padding:20px;
border-radius:15px;
background:white;
}

#timer{
font-size:48px;
text-align:center;
margin:20px 0;
}

button{
width:100%;
margin-top:10px;
padding:12px;
border:none;
border-radius:10px;
cursor:pointer;
}

.room-area{
flex:1;
position:relative;
display:flex;
justify-content:center;
align-items:center;
}

.room-image{
width:80%;
max-width:900px;
}

.plant-section{
position:absolute;
bottom:120px;
right:30%;
text-align:center;
}

.plant-section img{
width:120px;
image-rendering:pixelated;
}

.encyclopedia{
width:280px;
background:#eaf8ff;
padding:20px;
}
